.grid {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    border: 1px solid #cdcdcd;
    border-radius: 12px;
  }
  
  .square {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    border-radius:12px;
  }

  .grid:focus-visible{
    outline: 0px;
  }

  .tiles{
    
    display: flex;
    border-radius: 12px;
    background: #e5e5da;
  }

  .gameOver{
    left: 0px;
    top: 137px;
    position: absolute;
    font-size: 59px;
    font-weight: bolder;
    color: rgb(153 91 14);
    text-align: center;
  }

  .gameOver>p{
    font-size: 50px;
    font-weight: bolder;
  }

  .newGameButtonWrapper{
    position: absolute;
    left:0px;
    bottom: 30px;
    height: 80px;
  }

  .newGameButtonWrapper>button{
    width: fit-content;
    padding: 8px;
    background-color: black;
    color: beige;
  }
